@charset 'utf-8';
#menber #menber_main dl {
    width:500px;
    margin:15px auto;
    font-size:14px;
}
#menber #menber_main dl dd {
    border-bottom:1px dashed #999;
    padding:10px 0;
}
#menber #menber_main dl dd input.text {
	width:180px;
	height:19px;
	border:1px dashed #333;
	background:#fff;
}
#menber #menber_main dl dd input.submit {
	width:100px;
	height:19px;
	border:1px dashed #333;
	background:#fff;
	padding:0 0 2px 0;
	margin:0 0 0 180px;
	cursor:pointer;
}
#menber #menber_main dl dd input.submit:hover {
	background:#eee;
}















