@charset 'utf-8';

#menber #menber_main dl {
	width:90%;
	margin:10px auto;
}
#menber #menber_main dl dd {
	margin:5px;
	line-height:150%;
}
#menber #menber_main dl dd input {
	width:70px;
	height:20px;
    font-size:12px;
    cursor:pointer;
}
#menber #menber_main dl dd input.button {
	text-align: center;
}
