 @charset 'utf-8';
 #active {
	width:auto;
	height:300px;
	border:2px solid #ccc;
	font-size:12px;
}
#active h2 {
	text-indent:0;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	margin:0 0 10px 0;
}
#active p {
  text-align:center;
  padding: 5px;
}



















