@charset 'utf-8';
#menber #menber_main dl {
    width:500px;
    margin:15px auto;
    font-size:14px;
}
#menber #menber_main dl dd {
    border-bottom:1px dashed #999;
    padding:15px 0;
}


















