@charset 'utf-8';
#menber {
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
}
#menber h2 {
    text-indent:0;
    text-align:center;
    height:30px;
    line-height:30px;
}
#menber #menber_sidebar {
    width:300px;
    height: 435px;
    border: 1px dashed #999;
    margin:15px;
    float:left;
}
#menber #menber_sidebar dl {
    margin:15px auto;
}
#menber #menber_sidebar dl dt {
    height:40px;
    line-height:40px;
    background:#999;
    font-weight:bold;
    text-align:center;
    color:#fff;
}
#menber #menber_sidebar dl dd {
    height:40px;
    line-height:40px;
    background:#eee;
    font-weight:bold;
    text-align:center;
}
#menber #menber_sidebar dl dd a {
    display:block;
    text-decoration:none;
    color:#333;
}
#menber #menber_sidebar dl dd a:hover{
    background:#ccc;
}
#menber #menber_main {
    width:590px;
    height: 575px;
    border: 1px dashed #999;
    margin:15px;
    float:right;
}
#menber #menber_main dl {
    width:500px;
    margin:15px auto;
    font-size:14px;
}
#menber #menber_main dl dd {
    border-bottom:1px dashed #999;
    padding:15px 0;
}
#menber #menber_main dl dd p textarea {
    width:220px;
    height:60px;
    background:#fff;
    border:1px dashed #ccc;
    margin:5px 0 0 60px;
}
#menber #menber_main dl dd input.text {
 width:220px;
 height:19px;
 border:1px dashed #333;
 background:#fff;
}
#menber #menber_main dl dd input.yzm {
 width:60px;    
}
/*這个是验证码的部分的图片*/
#menber #menber_main dl dd img#code {
 position:relative;
 top:8px;
 cursor:pointer;
}
#menber #menber_main dl dd input.submit {
 width:60px;
 height:25px;
 border:1px dashed #333;
 background:#fff;
 cursor:pointer;
}














